*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comfortaa", cursive;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.whiteBg {
  background: #ffffff !important;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}
.whiteBg a {
  color: #000000 !important;
}

.transparent {
  background: transparent;
}
.transparent a {
  color: #ffffff;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.py-6 {
  padding: 70px 0;
}

.header {
  width: 100%;
  height: 100vh;
  background: url("/images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-position: center center;
  background-color: rgba(17, 33, 49, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content {
  padding: 100px 20px 0px 20px;
}
.header__content-h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 60px;
  text-align: center;
}
.header__content-p {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 38px;
  margin-bottom: 70px;
  margin-top: 20px;
  text-align: center;
}
.header__inputArea-child1 {
  width: 200px;
  margin-right: 30px;
  display: inline-block;
  font-size: 12px;
  color: #999999;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: 300;
  line-height: 46px;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  height: 46px;
  padding: 0 25px;
  outline: none;
  margin-bottom: 16px;
}
.header__inputArea-child2 {
  width: 300px;
  margin-right: 30px;
  display: inline-block;
  font-size: 12px;
  color: #999999;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: 300;
  line-height: 46px;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  height: 46px;
  padding: 0 25px;
  outline: none;
  margin-bottom: 16px;
}
.header__inputArea-child3 {
  background-color: #e74c3c;
  background-image: linear-gradient(to right, #9b59b6 0%, #e74c3c 100%);
  color: #ffffff;
  border: none;
  transition: all 300ms linear;
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-radius: 50px;
  padding: 0;
  line-height: 46px;
  width: 200px;
  height: 46px;
  outline: none;
  cursor: pointer;
}
.header__inputArea-child3:hover {
  color: #ffffff;
  background-image: none;
  background-color: rgba(231, 76, 60, 0.8);
}

.features {
  background: #2c3e50;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features__contentBox {
  text-align: center;
  color: #ffffff;
  margin: 0 30px;
}
.features__contentBox-icon {
  margin-bottom: 30px;
}
.features__contentBox-heading {
  font-family: "Comfortaa", cursive;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.features__contentBox-des {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 0;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background: transparent;
  height: 80px;
  transition: all 0.5s linear;
  z-index: 9999;
}
.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.navbar__left img {
  width: 120px;
  height: auto;
}
.navbar__right {
  display: flex;
  list-style: none;
}
.navbar__right li a {
  text-decoration: none;
  color: #ffffff;
  line-height: 94px;
  padding: 0;
  letter-spacing: 1px;
  position: relative;
  font-size: 16px;
  font-family: "Comfortaa", cursive;
  text-transform: capitalize;
  font-weight: 400;
  margin-right: 38px;
}

.guide {
  margin-top: 200px;
  background: url("/images/talkBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-blend-mode: overlay;
  background-position: center center;
  background-color: rgba(17, 33, 49, 0.6);
}
.guide__content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.guide__content-box1 img {
  margin-top: -120px;
  width: 70%;
  height: auto;
}
.guide__content-box2 h3 {
  font-size: 28px;
  margin-bottom: 20px;
  padding-top: 30px;
}
.guide__content-box2 p {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
}/*# sourceMappingURL=main.css.map */