$colorWhite:#ffffff;
$colorBlack: #000000;
$colorPink: #e74c3c;
$colorWaterPink: rgba(231, 76, 60, 0.8);
$colorBlue: #2c3e50;
$colorGray:#999999;
$colorGradiant: linear-gradient(to right, #9b59b6 0%, #e74c3c 100%);

// Columns for grid 
$columns: 12;