.features{
  background: $colorBlue;
  width: 100%;
  @include itemsCenter;

  &__contentBox{
    text-align: center;
    color: $colorWhite;
    margin: 0 30px;
    
    &-icon{
      margin-bottom: 30px;
    }

    &-heading{
      font-family: 'Comfortaa', cursive;
      font-size: 18px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: 14px;
    }

    &-des{
      font-size: 16px;
      font-weight: 300;
      line-height: 25px;
      margin-bottom: 0;
    }
  }
}