.newsletter {
  margin: 120px 0px 80px 0px;

  @include responsive(500px) {
    padding: 20px;
  }

  &__content {
    &-h1 {
      font-size: 34px;
      font-weight: 400;
      line-height: 46px;
      margin-bottom: 35px;
      color: $colorBlue;
    }
  }

  .blockquote {
    &__content p {
      position: relative;
      color: $colorGray;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      line-height: 30px;
      margin-bottom: 30px;
      padding: 10px 20px;
      margin-left: 40px;

      &::before {
        content: "“ ";
        font-size: 40px;
        font-weight: 900;
        position: absolute;
        top: -10px;
        left: -20px;
      }
      &::after {
        content: " ”";
        font-size: 40px;
        font-weight: 900;
        position: absolute;
        bottom: -20px;
      }
    }

    &-profileBox {
      @include itemsCenter;
      justify-content: flex-start;

      @include responsive(500px) {
        @include itemsCenter;
      }
    }

    &-profileBox img {
      width: 60px;
      height: 60px;
      line-height: 70px;
      border-radius: 50%;
    }

    &-author {
      margin-left: 16px;
    }

    &-title {
      color: $colorBlue;
      font-family: "Comfortaa", cursive;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 10px;
      padding-top: 25px;
    }

    &-subTitle {
      color: $colorGray;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
      line-height: 1;
      margin-bottom: 0;
    }
  }

  &__signinBox {
    background: $colorWaterGray;
    padding: 50px 40px 40px 40px;

    &-title {
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
      margin-bottom: 45px;
    }

    &-input1 {
      @include customInputBox(100%);
    }
    &-input2 {
      @include customInputBox(100%);
    }
    &-input3 {
      @include buttonPrimary(100%);
    }
  }
}
