.showcase {
  margin: 80px 0;
  @include responsive(500px) {
    padding: 20px;
  }

  &__content {
    @include itemsCenter;

    &-h2 {
      color: $colorBlue;
      font-size: 30px;
      font-weight: 400;
      line-height: 40px;
      margin-bottom: 40px;
      padding-top: 54px;
    }

    &-p {
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      margin-bottom: 0;
      color: $colorGray;
    }

    &-img {
      display: flex;
      justify-content: flex-end;
      @include responsive(500px) {
        @include itemsCenter;
        margin-top: 30px;
      }
    }

    &-img img {
      width: 70%;
      display: flex;
    }
  }
}
