.guide{
  margin-top: 160px;
  @include bgImage("/images/talkBg.jpg", scroll);
  background-color: rgba(17, 33, 49, 0.6);
 

  &__content{
    @include itemsCenter;
    color: $colorWhite;
    &-box1 img {
      margin-top: -120px;
      width: 70%;
      height: auto;
    }

    &-box2 h3{
      font-size: 28px;
      margin-bottom: 20px;
      padding-top: 30px;
    }

    &-box2 p{
      margin-bottom: 20px;
      font-size: 15px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}